.fullPage{
    text-align: center;
}
.cardArea{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: flex-start;
    padding:20px 10rem;
   flex-wrap: wrap;
}
.card{
    flex: 0 0 calc(20%-10px);
    width: 200px;
   padding:20px;
   margin:20px;
   text-align: left;
    border:1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.card:hover{
    background-color: beige;
}
.cardHead{
    font-weight: bold;
}
.cardPrice{
    font-weight:bold;
}
.cardPer{
    color:green;
    font-weight:bold;
    display:flex;
    justify-content: flex-start;
    align-items:flex-end;
}
.icon{
    transform: rotate(30deg);
    margin:0 5px;
}

.load{
    text-align: center;
   
    background:none;
    color:tomato;
    cursor: pointer;
    font-weight: bold;
    border:0;
}

.tabButtons {
    display: flex;
    padding:10px 10rem;
  }
  
  .tabButtons button {
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border: none; /* Remove border */
    outline: none;
    border-bottom: 2px solid transparent; /* Add a transparent bottom border */
  }
  
  .tabButtons button.active {
    border-color: tomato; /* Change border color for the active tab */
    background-color: transparent; /* Reset the background color for active tab */
    color: tomato; /* Change text color for the active tab */
  }
  
  .tabContent {
    padding: 10px;
  }
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  